*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(126, 178, 194);
    font-family: Arial, Helvetica, sans-serif;
}

legend{
    color:rgb(255, 255, 255);
   background: #0048a7;
    padding:10px;
    border-radius:5px;
    
}
form{
    max-width:1000px;
    max-height:800px;
    transform: translateY(6rem);
    margin-left:25rem;
     padding:70px;
     background:linear-gradient(#fad2d2, #838383);
     border-radius: 20px;
     box-shadow: 2px 2px 28px 4px rgba(36,35,35,0.7);
     
}


fieldset{
 padding:10px 30px;
}



fieldset input{
    padding:8px 16px;
    background:transparent;
    border-radius:5px;
   border: 1px solid #0f0f0f67;
   transition: all 0.3s ease;
   font-size:18px;
}
 
fieldset input:hover{
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
}

p{
color:rgb(91, 0, 196);
font-weight: 600;
font-size:22px;
}

.sixinput{
    margin-top:10px;
}

.heading{
    color: rgb(89, 102, 13);
    font-size: 22px;
}

.checkbox{
   width: 30px;
   
}

h2 i{
    color: rgb(179, 42, 42);
}

.submit_button{
padding: 10px 9px;
background:transparent;
color: white;
border-radius: 5px;
border: 1px solid #ffffff5d;
transition: all 0.3s;
}

.submit_button:hover{
    background: #049434;
}